################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HPlusSportsAPI/bin
/HPlusSportsWeb/bin
/HPlusSportsAPI/obj
/HPlusSportsWeb/obj
